PRIVATE_KEY=
RH_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
RH_TESTNET_CHAIN_ID=46630
NFT_NAME=CapyCrew Genesis
NFT_SYMBOL=CAPY
MINT_PRICE_USD=5
# Set this from `npm.cmd run quote:price` immediately before deployment.
MINT_PRICE_WEI=
BASE_TOKEN_URI=ipfs://REPLACE_WITH_METADATA_CID/
UNREVEALED_TOKEN_URI=ipfs://REPLACE_WITH_HIDDEN_METADATA_CID/hidden.json

